.content {
    margin: 15px;
}
.title {
    margin-bottom: 30px;
    font-size: x-large;
}

.discussions {
    margin: 20px 20px 20px 15%;
    width: 75%;
}

.discussion {
    border: 1px black solid;
    padding: 5px;
    margin-bottom: 15px;
    /*height: 60px;*/
}

.discussion > div {
    display: inline-block;
}

.discussion .name {
    padding: 10px 5px 15px 10px;
    font-size: 20px;
    font-weight: bold;
}

.discussion .author {
    vertical-align: middle;
    height: 100%;
}

.discussion .author, .date {
    font-size: 13px;
}