.common-inf {
    display: table;
    width: 100%;
    padding: 20px;
    font-size: medium;
}

.common-inf > div {
    display: table-row;
}

.common-inf > div > div {
    display: table-cell;
}

.common-inf > div > div:last-child {
    text-align: right;
}

.common-inf > div:last-child > div {
    padding-top: 15px;
}

.common-inf > div:last-child > div:first-child {
    font-size: x-large;
}

.products {
    margin-top: 40px;
    margin-left: 8%;
}

.ranking-href a {
    text-decoration: underline;
}